.fadeInLeft {
  animation: fadeInLeft 1s forwards ease-out;
}
.zoomInDown {
  animation: zoomInDown 2s forwards ease-out;
}


//fade-in
@keyframes fade-in {

  0%{
    transform: translateY(35px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }

}
@-webkit-keyframes fade-in {
  0%{
    -webkit-transform: translateY(35px);
    opacity: 0;
  }
  100%{
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

//circles
@keyframes circles {

  0%{
    transform: scale(1);
    opacity: .2;
  }
  30%{
    opacity: 1;
  }
  60% {
    transform: scale(1.3);
    opacity: .6;
  }
  100%{
    transform: scale(1.3);
    opacity: 0;
  }

}
@-webkit-keyframes circles {
  0%{
    -webkit-transform: scale(1);
    opacity: .2;
  }
  60%{
    opacity: 1;
  }
  60%{
    -webkit-transform: scale(1.3);
    opacity: .6;
  }
  100%{
    -webkit-transform: scale(1.3);
    opacity: 0;
  }
}

//plane
@-webkit-keyframes plane {
  0% {
    -webkit-transform: translate(0,0);
  }
  49% {
    -webkit-transform: translate(25px,-30px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(25px,30px);
  }
  51% {
    -webkit-transform: translate(-25px,30px);
  }
  60% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0,0);
  }
}
@keyframes plane {
  0% {
    transform: translate(0,0);
  }
  49% {
    transform: translate(25px,-30px);
    opacity: 0;
  }
  50% {
    transform: translate(25px,30px);
  }
  51% {
    transform: translate(-25px,30px);
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: translate(0,0);
  }
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

//zoomInDown
@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
    animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
    animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
  }
  100% {
    opacity: 1;
  }
}
@keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -ms-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
    animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -ms-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
    animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
  }
  100% {
    opacity: 1;
  }
}

