
.btn {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  border: none;
  border-radius: 45px;
  background: $main-white-color;
  box-shadow: 0 5px 10px 0 rgba(44, 49, 65, 0.09);
  line-height: 34px;
  font-size: 12px;
  color: $main-blue-color;
  text-transform: uppercase;
  @include main-font5();
  @include transition(all, $animation-time, .05);

  &_2 {
    background: #28c776;
  }
  &_4 {
    border: 2px solid $main-blue-color;
    background: $main-blue-color;
    color: $main-white-color;
  }
  &_book {
    padding: 0 39px 0 19px;
    font-size: 13px;
    line-height: 31px;

    &:before {
      @include absoluteCenterY();
      right: 5px;
      width: 23px;
      height: 23px;
      border-radius: 23px;
      background: $main-blue-color;
      @include transition(all, $animation-time, .05);
      content: '';
    }
    span {
      @include absoluteCenterY();
      z-index: 3;
      right: 5px;
      display: inline-block;
      width: 23px;
      height: 23px;
      padding: 3px 0 0 0;
      border-radius: 50%;
      border: 2px solid $main-blue-color;
      background: $main-blue-color;
      font-size: 12px;
      line-height: 1;
      text-align: center;
      color: $main-white-color;
      @include transition(all, $animation-time, .05)
    }
    div {
      position: relative;
      z-index: 3;
    }
  }
  &_book-2 {
    padding: 0 46px 0 25px;
    font-size: 15px;
    line-height: 45px;

    &:before {
      right: 8px;
      width: 27px;
      height: 27px;
      border-radius: 27px;
    }
    span {
      z-index: 3;
      right: 8px;
      width: 27px;
      height: 27px;
      padding: 6px 0 0 0;
      background: $main-white-color;
      color: $main-blue-color;
    }
  }
}

@media (min-width: $tablet-portrait) {


}

@media (min-width: $desktop) {

  .btn {
    padding: 0 25px;
    line-height: 45px;
    font-size: 15px;

    &:hover {
      background: $main-blue-color;
      color: $main-white-color;
    }
    &_2 {

      &:hover {
        color: $main-blue-color;
        background: $main-white-color;
      }
    }
    &_3 {

      &:hover {
        background: #28c776;
        color: $main-white-color;
      }
    }
    &_4 {
      line-height: 41px;

      &:hover {
        background: $main-white-color;
        color: $main-blue-color;
      }
    }
    &_book {
      padding: 0 39px 0 19px;
      font-size: 13px;
      line-height: 31px;

      &:hover {

        &:before {
          width: 100%;
          height: 100%;
          right: 0;
        }
      }
    }
    &_book-2 {
      padding: 0 46px 0 25px;
      font-size: 15px;
      line-height: 45px;

      &:hover {

        &:before {
          background: $main-blue-color;
        }
        span {
          //border: 2px solid $main-white-color;
          background: $main-white-color;
          color: $main-blue-color;
        }
      }
    }
  }

}
