$main-blue-color: #377ae6;
$main-text-color: #999;
$main-white-color: #fff;
$main-border-color: #ddd;

//site
$site-background: #fff;
$header-menu-color: #fff;
$header-menu-back: $main-blue-color;
$header-menu-btn-back: #fff;
$header-menu-btn-opened: #fff;
$footer-bg: #16171c;
$footer-text-color: #666667;
$footer-crafted-color: #747474;

/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .7 );
$popup-close-back: #fff;
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #ddd;
$websters-select-opened: #2a2b76;
$websters-select-back: #fff;
$websters-select-item-color: #bbb;
$websters-select-popup-item-active-color: #bbb;
/*---------- /websters-select ---------*/

/*---------- btn ----------*/
$btn-back: #fff;
$btn-hover-back: $main-blue-color;
/*---------- /btn ---------*/

/*---------- language  ----------*/
$language-color: #acadb3;
$language-dropdown-color: #3a85ff;
/*---------- /language  ----------*/


/*---------- nice-checkbox ----------*/
//$nice-checkbox-color: #bbb;
//$nice-checkbox-active-color: #1d242d;
/*---------- /nice-checkbox ---------*/

/*---------- our-philosophy  ----------*/
$our-philosophy-title: #e5e6e9;
$our-philosophy-text: #4e5876;
/*---------- /our-philosophy  ----------*/

/*---------- book-now  ----------*/
$book-now-text: #e5e6e9;
/*---------- /book-now  ----------*/

