.fleet {
  color: #2d3244;

  &__hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  &__hero-wrap {
    position: relative;
    max-width: 470px;
    margin: 55px 55px 55px 0;

    > div {
      position: relative;
      z-index: 2;
      padding: 20px 15px;
      background: $main-white-color;
    }
  }
  &__hero-title {
    margin-bottom: 8px;
    font-size: 26px;
    line-height: 34px;
    white-space: pre-line;
    @include main-font2();
  }
  &__hero-text {
    padding-left: 3px;
    font-size: 14px;
    line-height: 20px;
    @include main-font6();
  }
  &__hero-pic {
    @include absoluteCenterY();
    display: block;
    left: 35%;
    width: auto;
    height: 67%;
  }

  &__item {
    white-space: nowrap;
    color: #2d3244;
    min-height: 635px;
    padding-top: 165px;
    
    &:nth-child(2n) {
      background: #f2f3f7;
    }
  }
  &__item-gallery {
    overflow: inherit !important;
    left: 4px;
    display: inline-block;
    vertical-align: top;
    width: 72%;
    height: 342px;
    white-space: normal;

    &:before {
      position: absolute;
      left: -99px;
      bottom: 0;
      content: '';
    }

    &_ellips {

      &:before {
        width: 628px;
        height: 110px;
        background: url(../img/ellipse.png) no-repeat;
        background-size: contain;
      }
    }
    &_rectangle {

      &:before {
        width: 794px;
        height: 124px;
        background: url(../img/rectangle.png) no-repeat;
        background-size: contain;
      }
    }
    &_right {

      .swiper-pagination {
        left: auto !important;
        right: 0;
        transform: translateX(100%) translateY(-100%) rotate(-90deg) !important;
      }
      .swiper-slide {

        img {
          left: auto !important;
          right: 0;
        }

        &-active {
          opacity: 1 !important;
        }
      }
    }

    .swiper-wrapper {

    }
    .swiper-slide {
      opacity: 0 !important;
      height: 100%;
      @include transition(opacity, $animation-time, 0);

      img {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        max-width: 100%;
        max-height: 100%;
        height: auto;
      }

      &-active {
        opacity: 1 !important;
      }
    }
    .swiper-pagination {
      display: inline-block;
      width: auto !important;
      left: -17px !important;
      bottom: 0 !important;
      -webkit-transform: rotate(-90deg) translateX(53%);
      transform: rotate(-90deg) translateX(53%);
      -webkit-transform-origin: left;
      transform-origin: left;
    }
    .swiper-pagination-bullet {
      opacity: 1;
      width: auto;
      height: auto;
      background: none;
      font-size: 16px;
      color: #adafb6;
      margin: 0 11px !important;
      @include main-font2();
      @include transition(color, $animation-time, 0);

      &-active {
        background: none;
        color: $main-blue-color;
      }
    }
  }

  &__item-pic {
    position: relative;
    overflow: inherit !important;
    left: 4px;
    display: inline-block;
    vertical-align: top;
    width: 72%;
    height: 342px;
    z-index: 1;
    white-space: normal;

    &:before {
      position: absolute;
      left: -99px;
      bottom: 0;
      content: '';
    }

    &_ellips {

      &:before {
        width: 628px;
        height: 110px;
        background: url(../img/ellipse.png) no-repeat;
        background-size: contain;
      }
    }
    &_rectangle {

      &:before {
        width: 794px;
        height: 124px;
        background: url(../img/rectangle.png) no-repeat;
        background-size: contain;
      }
    }

    &_right {

      img {
        left: auto !important;
        right: 0;
      }
    }

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
  }
  &__item-info {
    position: relative;
    z-index: 10;
    display: inline-block;
    vertical-align: top;
    left: -153px;
    width: 50%;
    white-space: normal;
  }
  &__item-title {
    margin-bottom: 11px;
    padding-left: 151px;
    font-size: 44px;
    line-height: 48px;
    @include main-font2();

    .tags {
      top: 0;

      .tags__item {
        margin-right: 8px;
      }
      .tags__item-text {
        font-size: 16px;
      }
      .tags__item-icon {
        margin-left: -9px;
      }
      .tags__item-icon svg {
        width: 18px;

        &.people {
          width: 30px;
          margin-left: -7px;
        }
        &.food {
          width: 24px;
        }
      }
    }
  }
  &__item-text {
    margin-bottom: 37px;
    padding: 0 40px 0 76px;
    font-size: 17px;
    line-height: 24px;
    @include main-font6()
  }
  &__item-btns {
    padding-right: 50px;
    text-align: right;

    a {
      position: relative;
      display: inline-block;
      margin-left: 36px;
      padding-right: 40px;
      font-size: 14px;
      line-height: 22px;
      text-transform: uppercase;
      color: $main-blue-color;
      @include main-font5();

      i {
        @include absoluteCenterY();
        right: 0;
        display: inline-block;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        border: 2px solid rgba(55,122,230, .5);
        @include transition(border, $animation-time, 0);

        svg {
          @include absoluteCenter();
          width: 10px;

          path {
            fill: $main-blue-color;
          }
        }
      }

      &:hover {

        i {
          border: 2px solid rgba(55,122,230, 1);
        }
      }
    }
  }

  .reserve {
    margin-top: 0;
    padding: 50px 15px;
  }

  &__car {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    background: #f2f3f7;

    &.fleet__car_right {
      background: #fff;

      .fleet__car-pic {
        justify-content: flex-start;
        margin: 0 0 0 -15px;
      }
    }

    &-pic {
      order: 1;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      margin: 0 -15px 0 0;

      img {
        display: block;
        width: 90%;
        height: auto;
      }
    }

    &-wrap {
      max-width: 436px;
      padding: 40px 0;
    }

    &-title {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      padding: 0 0 14px 0;
      font-size: 44px;
      line-height: 48px;
      @include main-font2();

      .tags {
        top: 0;

        .tags__item {
          margin-right: 8px;
        }
        .tags__item-text {
          font-size: 16px;
        }
        .tags__item-icon {
          margin-left: -9px;
        }
        .tags__item-icon svg {
          width: 18px;

          &.people {
            width: 30px;
            margin-left: -7px;
          }
          &.food {
            width: 24px;
          }
        }
      }
    }

    &-text {
      margin-bottom: 13px;
      font-size: 17px;
      line-height: 24px;
      @include main-font6()
    }

    &-btns {
      display: flex;
      justify-content: space-between;
      text-align: right;

      a {
        position: relative;
        display: inline-block;
        padding-right: 40px;
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        color: $main-blue-color;
        @include main-font5();

        i {
          @include absoluteCenterY();
          right: 0;
          display: inline-block;
          width: 29px;
          height: 29px;
          border-radius: 50%;
          border: 2px solid rgba(55,122,230, .5);
          @include transition(border, $animation-time, 0);

          svg {
            @include absoluteCenter();
            width: 10px;

            path {
              fill: $main-blue-color;
            }
          }
        }

        &:hover {

          i {
            border: 2px solid rgba(55,122,230, 1);
          }
        }
      }
    }
  }
}

@media (min-width: $tablet-portrait) {

  .fleet {

    &__hero {
      position: relative;
      display: flex;
      align-items: center;
      height: 100vh;
    }
    &__hero-wrap {
      max-width: 50%;
      margin: 0 0 55px 0;

      > div {
        padding: 27px 15px 30px 0;
      }
    }
    &__hero-title {
      font-size: 42px;
      line-height: 52px;
    }
    &__hero-text {
      font-size: 17px;
      line-height: 24px;
    }
  }
}

@media (min-width: $tablet-landscape) {



}

@media (min-width: $desktop) {

  .fleet {

    &__hero {
    }
    &__hero-wrap {
      max-width: 565px;
    }
    &__hero-title {
      font-size: 62px;
      line-height: 72px;
    }
    &__hero-pic {
      @include absoluteCenterY();
      display: block;
      right: 14px;
      left: auto;
      width: 60.8%;
      height: auto;
    }

    &__car {
      position: relative;
      flex-direction: row;
      align-items: flex-start;
      min-height: 618px;
      padding: 188px 0 0 calc(50% - 590px);
      background: #f2f3f7;

      &.fleet__car_right {
        justify-content: flex-end;
        padding: 188px calc(50% - 590px) 0 0;
        background: #fff;

        .fleet__car-pic {
          margin: 0;
        }

        .fleet__car-btns {
          display: block;
          text-align: right;

          a { margin: 0 0 0 35px }
        }
      }

      &-wrap {
        padding: 0;
        width: 418px;
        max-width: none;
      }

      &-pic {
        order: 0;
        max-width: calc(100% - 436px);
        margin: 0;

        img {
          width: auto;
          max-width: 100%;
        }
      }

      &-title {
        flex-direction: row;
        justify-content: flex-end;

        .tags {
          padding-left: 30px;
          margin-bottom: 0;
        }
      }

      &-btns {
        display: block;
        text-align: left;

        a { margin-right: 35px }
      }
    }

    &__car_van {
      padding-top: 191px !important;

      .fleet__car-pic {
        position: absolute;
        top: 69px;
        right: 43.3%;
      }
    }

    &__car_minibus {
      min-height: 898px;
      padding: 239px 0 0 calc(50% - 549px);

      .fleet__car-pic {
        position: absolute;
        top: 150px;
        left: 41.7%;
        width: 1146px;
      }
    }

    &__car_bus {
      min-height: 677px;
      padding-top: 183px !important;

      .fleet__car-pic {
        position: absolute;
        top: -133px;
        right: 46%;
        width: 1011px;
      }
    }
  }
}
