.history-fleet {
  color: #2d3244;

  &__hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  &__hero-wrap {
    position: relative;
    max-width: 470px;
    margin: 55px 55px 55px 0;

    > div {
      position: relative;
      z-index: 2;
      padding: 20px 15px;
      background: $main-white-color;
    }
  }
  &__hero-title {
    margin-bottom: 8px;
    font-size: 26px;
    line-height: 34px;
    white-space: pre-line;
    @include main-font2();
  }
  &__hero-text {
    padding-left: 3px;
    font-size: 14px;
    line-height: 20px;
    @include main-font6();
  }
  &__hero-pic {
    @include absoluteCenterY();
    display: block;
    left: 35%;
    width: auto;
    height: 67%;
  }
}

@media (min-width: $tablet-portrait) {

  .history-fleet {

    &__hero {
      align-items: flex-end;
      padding-bottom: 93px;
    }
    &__hero-wrap {
      max-width: 50%;
      margin: 0 0 55px 0;

      > div {
        padding: 27px 15px 30px 0;
      }
    }
    &__hero-title {
      font-size: 42px;
      line-height: 52px;
    }
    &__hero-text {
      font-size: 17px;
      line-height: 24px;
    }
  }
}

@media (min-width: $tablet-landscape) {



}

@media (min-width: $desktop) {

  .history-fleet {

    &__hero-wrap {
      max-width: 520px;
    }
    &__hero-title {
      font-size: 62px;
      line-height: 72px;
    }
    &__hero-pic {
      @include absoluteCenterY();
      display: block;
      right: 157px;
      left: auto;
      width: 60.8%;
      height: auto;
      max-width: 986px;
    }
  }
}
