/*---------- history-information ----------*/
.history-information {
  position: relative;
  padding: 65px 15px 0;
  z-index: 2;
  font-size: 17px;
  line-height: 24px;
  color: #2d3244;
  @include main-font6();

  &__title {
    margin: 0 0 24px;
    font-size: 38px;
    line-height: 44px;
    color: #2d3244;
    @include main-font2();
  }

  &__wrap {

    p {
      margin: 0 0 10px;
    }
  }

  &__pic {
    margin-bottom: -50px;
    text-align: right;

    img {
      display: inline-block;
      max-width: 100%;
    }
  }

  &.history-information_type2 {

    .history-information__pic { margin-bottom: 0 }
  }
}

@media (min-width: $tablet-portrait) {
  .history-information {

  }
}

@media (min-width: $tablet-landscape) {
  .history-information {

  }
}

@media (min-width: $desktop) {
  .history-information {

    &__title {

      span { display: block }
    }

    &__wrap {
      padding: 0 314px 272px 80px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      p {
        width: 47%;
      }
    }

    &__pic {
      position: absolute;
      top: 219px;
      left: 834px;
      width: 691px;
      height: 516px;
      z-index: 2;

      img {
        height: 100%;
      }
    }


    &.history-information_type2 {
      padding-bottom: 263px;

      .history-information__pic {
        top: auto;
        bottom: -110px;
        left: 102px;
        width: 1431px;
        height: 420px;
      }
    }
  }
}
/*---------- /history-information ---------*/
