
.navigation-controls {

  &.fixed {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 0;
    background: #fff;
    padding: 10px 10px 0 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    .navigation-controls__btn {
      -webkit-transform: translateX(80px);
      transform: translateX(80px);
      @include transition(transform, $animation-time, 0);

      &:hover,
      &.active {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
  li {
    margin-bottom: 21px;
  }
  &__btn {
    position: relative;
    display: inline-block;
    min-width: 82px;
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    color: #2d3244;
    @include main-font2();
    backface-visibility: hidden;
    @include transition(all, $animation-time, 0);

    &:before,
    &:after {
      position: absolute;
      width: 82px;
      left: 0;
      bottom: -4px;
      height: 2px;
      background: #2d3244;
      content: '';
    }
    &:after {
      width: 0;
      background: $main-blue-color;
      @include transition( width, $animation-time, 0)
    }

    &.active{
      color: $main-blue-color;

      &:after {
        width: 82px;
      }
    }
  }
}
.navigation-down {
  @include absoluteCenterX();
  z-index: 1;
  display: inline-block;
  top: -30px;
  left: 24.7%;
  bottom: -30px;
  width: 14px;
  background: none;
  border: none;
  padding: 0;

  &:before {
    @include absoluteCenterX();
    top: 0;
    height: 100%;
    width: 2px;
    background: #2d3244;
    content: '';
  }
  span {
    @include absoluteCenterX();
    bottom: 0;
    width: 14px;
    height: 14px;
    @include transition(background, $animation-time, 0);

    &:before,
    &:after {
      position: absolute;
      left: 0;
      top: 7px;
      width: 100%;
      height: 2px;
      background: #2d3244;
      content: '';
      @include transition(background, $animation-time, 0);
    }
    &:before {
      left: -5px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      left: 5px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}


@media (min-width: $tablet-portrait) {

  .navigation-controls {
    @include absoluteCenterY();
    margin-top: -6px;
    right: 121px;

    li {
      opacity: 0;
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px);
      @include transition(all, $animation-time, 0);
    }
    &.animation {

      li {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);

        @for $i from 2 through 20 {

          &:nth-child(#{$i}) {
            -webkit-transition-delay: .1s * $i;
            transition-delay: .1s * $i;
          }
        }
      }
    }
  }
  .navigation-down {
    opacity: 0;
    top: -54px;
    bottom: -54px;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transition: transform 1.2s cubic-bezier(.165,.84,.44,1),opacity 1.2s cubic-bezier(.165,.84,.44,1);
    transition: transform 1.2s cubic-bezier(.165,.84,.44,1),opacity 1.2s cubic-bezier(.165,.84,.44,1),-webkit-transform 1.2s cubic-bezier(.165,.84,.44,1);

    &.animation {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

@media (min-width: $tablet-landscape) {

}

@media (min-width: $desktop) {

  .navigation-controls {

    li {

      &:hover .navigation-controls__btn {
        color: $main-blue-color;

        &:after {
          width: 82px;
        }
      }
    }
  }
  .navigation-down {

    &:hover {

      &:before,
      span:before,
      span:after {
        background: $main-blue-color;
      }
    }
  }
}
