.nice-checkbox {
  display: inline-block;
  vertical-align: top;
  user-select: none;
  @include main-font4();

  input[ type = checkbox ] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label {
      color: $nice-checkbox-active-color;

      &:after {
        border-color: $nice-checkbox-active-color;
      }
      &:before {
        opacity: 1;
      }

    }

    &:disabled + label {
      cursor: default;
      opacity: .5;
    }

  }
  label {
    display: inline-block;
    padding-right: 35px;
    font-size: 16px;
    color: $nice-checkbox-color;
    cursor: pointer;
    @include transition(color, .3, 0);

    &:after,
    &:before {
      position: absolute;
      content: '';
    }
    &:after {
      top: 1px;
      right: 38px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 2px solid $nice-checkbox-color;
      @include transition(border-color, .3, 0);
    }
    &:before {
      opacity: 0;
      top: 5px;
      right: 42px;
      border-radius: 50%;
      background: $nice-checkbox-active-color;
      width: 4px;
      height: 4px;
      content: '';
      @include transition(opacity, .3, 0);
    }
    &:hover {
      color: $nice-checkbox-active-color;

      &:after {
        border-color: $nice-checkbox-active-color;
      }
    }
  }
}
