.popup {
  display: block;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 10000;
  padding: 40px 15px;
  background: $popup-back;
  text-align: center;
  transition: opacity 500ms ease-in-out;

  &_opened {
    opacity: 1;
    width: 100%;
    height: 100%;
  }

  &_hide {
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  &__wrap {
    position: relative;
    z-index: 2;
    max-width: 1450px;
    margin: 0 auto;
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.1);
  }

  &__content {
    display: none;
    text-align: left;
    padding: 40px 0 0;
    background: #fff;
  }

  &__close {
    position: absolute;
    z-index: 2;
    display: block;
    top: 20px;
    right: 20px;
    height: 18px;
    width: 18px;
    cursor: pointer;
    @include transition(transform, $animation-time, 0);

    &_video {
      top: -25px;
    }

    &:after,
    &:before {
      @include absoluteCenterY();
      left: 0;
      right: 0;
      height: 3px;
      border-radius: 3px;
      background: $popup-close-back;
      transform-origin: center;
      content: '';
      @include transition(background, $animation-time, 0);
    }
    &:after{
      transform: translateY( -50% ) rotate( 45deg );
    }
    &:before {
      transform: translateY( -50% ) rotate( -45deg );
    }

    &:hover {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    &:active {
      background-position: 0 bottom;
    }
  }

  &__scrollbar-measure {
    overflow: scroll;
    position: absolute;
    top: -9999px;
    width: 100px;
    height: 100px;
  }

  &__video {
    background: transparent;
    width: 100%;
    max-width: 1470px;
    padding-bottom: 45%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__book {
    position: relative;
    width: 100%;
    max-width: 1107px;
    margin: 0 auto;
    padding: 50px 10px 10px;
    color: #e5e6e9;
    background: #377ae6;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    @include main-font6();

    &-title {
      margin-bottom: 10px;
      font-size: 24px;
      color: #e5e6e9;
      @include main-font4();
    }

    p {
      margin-bottom: 5px;

      a,
      a:visited {
        color: #e5e6e9;
        font-weight: 700;

        &:hover { text-decoration: underline }
      }
    }

    strong {
      display: block;
      margin-bottom: 5px;
      @include main-font6();
      font-weight: 700;
    }

    &-pic {
      display: block;
      width: calc(100% + 64px);
      margin: 0 -32px;
    }

    &-wrap {
      overflow: hidden;
      max-width: 540px;
      margin: 20px auto;
      padding: 10px 15px 0;
      background: #fff;
      border-radius: 5px;
      text-align: left;

      &__title {
        padding: 0 6px;
        text-transform: uppercase;
        font-size: 18px;
        color: #377ae6;
        @include main-font1();

        span {
          display: block;
          padding: 9px 0;
          text-transform: none;
          font-size: 12px;
          color: #4e5876;
          @include main-font2();
        }
      }
    }

    &-info {
      padding: 10px 12px;
      margin-bottom: 15px;
      border: 3px dashed #c8c9cc;
      border-radius: 5px;
      @include main-font1();

      &__item {
        color: #4e5876;

        div {
          margin-bottom: 12px;
          text-transform: uppercase;
          font-size: 13px;
          color: #35353a;
          @include main-font5();

          span {
            display: block;
            padding: 5px 0 0 0;
            text-transform: none;
            font-size: 14px;
            color: #4e5876;
          }
        }

        address {
          display: block;
          font-style: normal;
          font-size: 13px;
          line-height: 18px;
          white-space: pre-line;
          color: #4e5876;
        }
      }
    }

    &-btns {
      display: flex;
      justify-content: flex-end;

      a {
        position: relative;
        display: inline-block;
        padding-right: 40px;
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        color: #e5e6e9;
        @include main-font5();

        i {
          @include absoluteCenterY();
          right: 0;
          display: inline-block;
          width: 29px;
          height: 29px;
          border-radius: 50%;
          border: 2px solid #e5e6e9;
          @include transition(border, $animation-time, 0);

          svg {
            @include absoluteCenter();
            width: 10px;

            path {
              fill: #e5e6e9;
            }
          }
        }

        &:hover {

          i {
            border: 2px solid #e5e6e9;
          }
        }
      }
    }
  }
}
@media (min-width: $tablet-portrait) {

  .popup {

    &__content {
      padding-top: 109px;
    }
  }
}

@media (min-width: $desktop) {

  .popup {

    &__book {
      padding: 67px 29px 31px;
      font-size: 17px;

      &-title {
        margin-bottom: 17px;
        font-size: 48px;
      }

      &-wrap {
        margin: 46px auto 34px;
        padding: 29px 32px 0;

        &__title {
          padding: 0 6px;
          font-size: 18px;

          span {
            padding: 9px 0 28px 0;
            font-size: 16px;
          }
        }
      }

      &-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
          width: calc(50% - 6px);
        }
      }
    }
  }
}
