
.proposal {
  background: #f0f1f5;
  padding: 40px 0;

  &__head {
    margin-bottom: 40px;
  }
  &__title {
    margin-bottom: 15px;
    font-size: 28px;
    color: #4e5876;
    @include main-font4();
  }
  &__list-wrap {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__list-inner {
    position: relative;
    width: 100%;
  }
  &__item {
    overflow: hidden;
    position: relative;
    display: block;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  &__item-pic {
    @include absolutePosition();
    background-position: center;
    background-size: cover;
  }
  &__item-title {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    height: 100%;
    min-width: 50%;
    bottom: 0;
    left: 0;
    padding: 0 0 0 25px;
    font-size: 25px;
    color: #2d3244;
    background: $main-white-color;
    letter-spacing: -1.3px;
    @include main-font4();

    b {
      display: block;
      margin-bottom: 3px;
      letter-spacing: -0.8px;
      font-size: 18px;

      @include main-font2();
    }
  }
}

@media (min-width: $tablet-portrait) {

  .proposal {

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .btn {
        top: 1px;
        left: 7px;
      }
    }
    &__title {
      max-width: 50%;
      font-size: 28px;
         }
    &__list-wrap {
      display: block;
      @include justify();
      margin-bottom: 14px;

      &:last-child {
        margin-bottom: 0;
      }
    }
    &__list-inner {
      display: inline-block;
      vertical-align: top;
      padding-bottom: 36.3%;

      &_small {
        width: 40.1%;
      }
      &_big {
        width: 57.1%;
      }
      &_height {
        padding-bottom: 38.9%;
      }
    }
    &__item {
      @include absolutePosition();
      height: auto;
      margin-bottom: 0;
      box-shadow: 0 10px 20px rgba(15,107,255, 0);
      @include transition(box-shadow, $animation-time, .05);

      &:after {
        opacity: 0;
        visibility: hidden;
        @include absolutePosition();
        z-index: 2;
        background: rgba(15,107,255, .9);
        border-radius: 5px;
        content: '';
        @include transition(all, $animation-time, .05);
      }
      &_small {
        top: 0;
        bottom: auto;
        padding-bottom: 31.6%;

        .proposal__item-title {
          overflow: hidden;
          display: flex;
          justify-content: center;
          flex-flow: column wrap;
          height: 100%;
          width: 45%;
          background: $main-white-color;
          padding: 2px 0 0 35px;
          font-size: 38px;
          white-space: nowrap;
          text-overflow: ellipsis;

          b {
            overflow: hidden;
            margin-bottom: 1px;
            font-size: 25px;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          &:after {
            right: 0;
          }
        }
        &:last-child {
          top: auto;
          bottom: 0;
          margin-bottom: 0;
        }
      }
      &_top {

        .proposal__item-title {
          top: 0;
          bottom: auto;
        }
      }
      &_gradient {

        &:before {
          position: absolute;
          z-index: 1;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 50%;
          border-radius: 0 0 4px 4px;
          background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
          background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
          content: '';
        }
      }
      &.animation {

        .proposal__item-title {
          color: #2d3244;

          b {
            opacity: 1;
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }
        }
      }
      &:hover,
      &.animation:hover {
        box-shadow: 0 10px 20px rgba(15,107,255, .2);

        &:after {
          opacity: 1;
          visibility: visible;
        }
        .proposal__item-title {
          color: $main-white-color;
          background: transparent;

          b {
            color: $main-white-color;
          }
          &:after {
            opacity: 1;
            -webkit-transform: translateX(0);
            transform: translateX(0);
          }
        }
      }
    }
    &__item-title {
      display: block;
      position: absolute;
      z-index: 3;
      width: 100%;
      height: auto;
      bottom: 0;
      left: 0;
      background: transparent;
      padding: 35px 0 35px 35px;
      font-size: 38px;
      color: transparent;
      @include transition(all, $animation-time, .05);

      b {
        position: relative;
        opacity: 0;
        font-size: 26px;
        color: #2d3244;
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
        @include transition(all, $animation-time, .05)
      }
      &:after {
        opacity: 0;
        @include absoluteCenterY();
        right: 60px;
        width: 17px;
        height: 30px;
        background: url(../img/white-arrow.png) no-repeat;
        background-size: contain;
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        margin-top: -16px;
        @include transition(all, $animation-time, .05);
        content: '';
      }
    }
  }
}
@media (min-width: $tablet-landscape) {


}
@media (min-width: $desktop) {

  .proposal {
    padding: 108px 0 129px;

    &__head {
      margin-bottom: 69px;
    }
    &__title {
      font-size: 38px;
    }
    &__list {
      margin-right: -9px;
    }
    &__item {

      &_small {

        .proposal__item-title {
          padding: 2px 0 0 54px;
          font-size: 48px;

          b {
            margin-bottom: 1px;
            font-size: 25px;
          }
        }
      }

    }
    &__item-title {
      padding: 55px 0 55px 54px;
      font-size: 48px;

      b {
        font-size: 36px;
      }
    }
  }
}
