
.single {
  padding-top: 100px;

  &__head {
    margin-bottom: 40px;
  }
  &__head-wrap {
    position: relative;
  }
  &__back {
    position: absolute;
    top: -30px;
    left: 0;
    display: inline-block;
    font-size: 12px;
    color: #9fa1a9;
    text-transform: uppercase;
    letter-spacing: 0.1px;

    i {
      position: relative;
      margin-right: 10px;
      font-size: 14px;
      @include transition( all, $animation-time,0 );
    }
  }
  &__title {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 2px;

    h1 {
      margin-bottom: 10px;
      font-size: 28px;
      line-height: 1;
      color: #2d3244;
      @include main-font2();

      span {
        display: block;
        margin: 5px 0 0 2px;
        font-size: 18px;
        @include main-font3();
      }
    }
    .tags {

    }
  }
  &__gallery {
    margin-bottom: 40px;
    padding: 0 15px;

    .site__centered {
      @include absoluteCenter();
    }
    .swiper-slide {
      opacity: .3;
      width: 85%;
      padding-bottom: 52.95%;
      background-size: cover;
      background-position: center;
      @include transition(opacity, $animation-time, 0);

      &-active {
        opacity: 1;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }
  &__play {
    display: inline-block;
    text-align: left;
    color: #2d3244;

    span {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      max-width: 158px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
      @include main-font5();
    }
  }
  &__play-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 53px;
    height: 53px;
    border: 2px solid $main-blue-color;
    background: $main-blue-color;
    box-shadow: 0 9px 20px 0 rgba(15, 107, 255, 0.2);
    border-radius: 50%;

    svg {
      @include absoluteCenter();
      top: 48%;
      width: 18px;
      height: 20px;
      margin: 1px 0 0 2px;

      path {
        fill: $main-white-color;
      }
    }
  }
  &__btns-wrap {
    margin-bottom: 40px;
    text-align: center;
  }
}

@media (min-width: $tablet-portrait) {

  .single {
    padding-top: 150px;

    &__head {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .btn {
        right: -6px;
      }
    }
    &__title {

    }
    &__gallery {

      .swiper-slide {
        width: 70%;
        padding-bottom: 42.95%;
      }
    }
  }
}
@media (min-width: $tablet-landscape) {


}
@media (min-width: $desktop) {

  .single {
    padding-top: 263px;

    &__head {
      margin-bottom: 65px;

      .btn {
        right: -6px;
      }
    }
    &__back {
      top: -36px;
      font-size: 14px;

      i {
        margin-right: 14px;
        font-size: 16px;
        @include transition( all, $animation-time,0 );
      }

      &:hover {

        i {
          color: $main-blue-color;
          -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
        }
      }
    }
    &__title {

      h1 {
        display: inline-block;
        vertical-align: top;
        margin-right: 54px;
        font-size: 49px;

        span {
          font-size: 22px;
        }
      }
    }
    &__gallery {
      margin-bottom: 211px;

      .swiper-slide {
        width: 49.9%;
        padding-bottom: 31.05%;
      }
      .swiper-button-prev,
      .swiper-button-next {
        @include absoluteCenterY();
        display: inline-block;
        width: auto;
        height: auto;
        margin: 0;
        background: none;
        color: #616571;
        font-size: 20px;
        @include main-font3();
        @include transition(color, $animation-time, 0);

        &:hover {
          color: $main-blue-color;
        }
      }
      .swiper-button-prev {
        -webkit-transform: translate(-100%, -50%);
        transform: translate(-100%, -50%);
      }
      .swiper-button-next {
        -webkit-transform: translate(100%, -50%);
        transform: translate(100%), -50%;
      }
    }
    &__play {
      opacity: 0;

      &.animation {
        animation: zoomInDown .7s forwards;
      }

      span {
        max-width: 295px;
        font-size: 26px;
        line-height: 31px;
      }

      &:hover {

        .single__play-icon {
          background: $main-white-color;
          box-shadow: 0 9px 20px 0 rgba(15, 107, 255, 0);

          svg path {
            fill: $main-blue-color;
          }
        }
      }
    }
    &__play-icon {
      margin-right: 30px;
      width: 57px;
      height: 57px;
      @include transition(all, $animation-time, 0);

      svg {

        path {
          @include transition(fill, $animation-time, 0);
        }
      }
    }
    &__btns-wrap {
      margin-bottom: 225px;
    }
  }
}
