
.site {
  overflow: hidden;
  position: relative;
  z-index: 1;
  min-width: 320px;
  min-height: 100%;
  @include main-font1();
  color: $main-text-color;

  &__header {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 50px;

    &-layout {
      position: relative;
      width: 100%;
      max-width: 1130px;
      padding: 0 15px;
      @include blockCentered();
    }
    &_inner {

      .site__menu-btn {

        span {
          background: $main-white-color;

          &:after,
          &:before {
            background: $main-white-color;
          }
        }
      }
    }
  }
  &__menu {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    padding: 80px 20px;
    background: $header-menu-back;
    line-height: 1;
    text-align: right;
    @include transform-translate( 100%, 0);
    @include transition(all, $animation-time, 0);

    &.opened {
      @include transform-translate( 0, 0);
    }

    &-item {
      display: block;
      position: relative;
      margin: 0 0 20px 0;
      @include main-font6();
      font-weight: 700;
      text-transform: uppercase;

      a {
        font-size: 18px;
        color: $header-menu-color;

        &.active {
          opacity: .6;
          cursor: default;
        }
      }
    }
  }
  &__menu-btn {
    display: block;
    position: fixed;
    z-index: 11;
    top: 15px;
    right: 12px;
    width: 30px;
    height: 25px;
    padding: 0;
    background: none;
    border: none;
    user-select: none;
    cursor: pointer;
    @include transition(all, $animation-time, 0);

    span {
      display: block;
      position: absolute;
      top: 11px;
      left: 5px;
      right: 5px;
      height: 4px;
      border-radius: 3px;
      background: $main-blue-color;
      font-size: 0;
      -webkit-transition: background .3s;
      transition: background .3s;

      &:before,
      &:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background: $main-blue-color;
        content: '';
        transition-duration: .3s, .3s;
        transition-delay: .3s, 0.001s;
      }
      &:before {
        top: -7px;
        transition-property: top, transform, background;
      }
      &:after {
        bottom: -7px;
        transition-property: bottom, transform, background;
      }
    }

    &.opened {

      span {
        background: transparent;

        &:before {
          top: 0;
          transform: rotate(45deg);
        }
        &:after {
          bottom: 0;
          transform: rotate(-45deg);
        }

        &:before,
        &:after {
          background: $header-menu-btn-opened;
          transition-delay: 0.001s, 0.3s;
        }
      }
    }
    &_white {

      span {
        background: $main-white-color;

        &:before,
        &:after {
          background: $main-white-color;
        }
      }
    }
    &.active {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);

      span {
        background: #16171c;

        &:before,
        &:after {
          background: #16171c;
        }
      }
    }
  }
  &__hero {
    position: relative;
    padding: 28.85% 15px 27.1%;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  &__hero-video {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  &__hero-title {
    margin-bottom: 29px;
    @include main-font4();
    font-size: 24px;
    color: $main-white-color;
    text-align: center;
  }
  &__hero-play {
    display: inline-block;
    color: $main-white-color;
    -webkit-perspective: 1000px;
    perspective: 1000px;

    span {
      visibility: hidden;
      opacity: 0;
      position: relative;
      display: block;
      font-size: 12px;
      letter-spacing: 1px;
      @include main-font5();
      text-transform: uppercase;
      -webkit-transform: translateY(15px) rotateX(-90deg) scale(.8);
      transform: translateY(15px) rotateX(-90deg) scale(.8);
      @include transition(all, $animation-time, 0)
    }
    &:hover {

      .site__hero-play-icon {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
      }
      span {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0px) rotateX(0deg) scale(1);
        transform: translateY(0px) rotateX(0deg) scale(1);
      }
    }
  }
  &__hero-play-icon {
    position: relative;
    display: inline-block;
    margin-bottom: 22px;
    width: 50px;
    height: 50px;
    background: $main-blue-color;
    box-shadow: 0 9px 20px 0 rgba(15, 107, 255, 0.2);
    border-radius: 50%;
    @include transition(all, $animation-time, 0);

    svg {
      @include absoluteCenter();
      top: 48%;
      width: 18px;
      height: 20px;
      margin: 1px 0 0 2px;

      path {
        fill: $main-white-color;
      }
    }
  }
  &__footer {
    padding: 35px 0 15px;
    background: $footer-bg;
    text-align: center;


    &-layout {
      position: relative;
      max-width: 1130px;
      padding: 0 15px;
      @include blockCentered();
    }
  }
  &__footer-top {
    margin-bottom: 30px;
    text-align: left;

    > div {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 10px;
      font-size: 13px;
      line-height: 18px;
      color: $main-white-color;
      @include main-font2();

      &:nth-child(2) {
        color: #666667;
        @include main-font6();
      }
      &:nth-child(3) {
        width: 100%;
        padding-top: 10px;
        text-align: center;
      }
    }

  }
  &__footer-logo {
    @include blockCentered();
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  &__footer-bottom {
    position: relative;
    font-size: 13px;
    line-height: 18px;
    color: #747474;
    text-align: center;

    span {
      display: block;
      padding: 0 20px;
      margin-bottom: 10px;
    }
    a {
      display: inline-block;
      color: $main-white-color;
      @include transition(color, $animation-time, 0);

      &:hover {
        color: #747474;
      }
    }
  }
  &__centered {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1130px;
    padding: 0 15px;
    @include blockCentered();
  }
  &__content {
    position: relative;
    z-index: 1;
  }
}

@media (min-width: $tablet-portrait) {

  .site {

    &__menu-btn {
      top: 30px;
      width: 40px;

      span {

        &:before {
          top: -9px;
        }
        &:after {
          bottom: -9px;
        }
      }
    }
    &__hero {
      padding: 18.85% 15px 16.65%;
    }
    &__hero-title {
      opacity: 0;
      font-size: 40px;

      &.animation {
        animation: fade-in .6s forwards .5s;
      }
    }
    &__hero-play {

      span {
        font-size: 13px;
        letter-spacing: 1.3px;
      }
      &.animation {

      }
    }
    &__hero-play-icon {
      width: 57px;
      height: 57px;
    }
  }
}
@media (min-width: $tablet-landscape) {

}
@media (min-width: $desktop) {
  .site {

    &:after {
      display: block;
      width: 100%;
      height: 537px;
      clear: both;
      content: '';
    }
    &__header {
      height: 160px;
      @include transition(all, .3, 0);

      &_inner {

        .language{

          a{
            color: $main-white-color;
          }
        }
        .site__menu {

          .site__menu-item {
            a {
              color: #e6cab4;

              &.active,
              &:hover {
                color: $main-white-color;
              }
            }
          }
        }
      }
    }
    &__menu {
      position: relative;
      top: 53px;
      right: -7px;
      left: auto;
      height: auto;
      padding: 0 0;
      text-align: right;
      background: transparent;
      transform: translate(0, 0);

      &-wrap {
        position: relative;
        top: 4px;
        display: inline-block;
        margin-right: 32px;
        text-align: right;
      }
      &_dark {

        .site__menu-item {

          a {
            color: #4e5876;
          }
        }
      }
      .site__menu-item {
        vertical-align: top;
        display: inline-block;
        margin-right: 38px;

        &:last-child {
          margin-right: 0;
        }
        a {
          vertical-align: top;
          display: inline-block;
          font-size: 14px;
          letter-spacing: 0.9px;
          @include transition(opacity, $animation-time, 0);

          &:hover,
          &.active {
            opacity: .6;
            border-bottom: none;
          }
        }
      }
    }
    &__menu-btn {
      display: none;
    }
    &__hero-title {
      font-size: 48px;
    }
    &__footer {
      overflow: hidden;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 537px;
      padding: 148px 0 116px;
    }
    &__footer-top {
      margin-bottom: 135px;
      white-space: nowrap;

      > div {
        white-space: normal;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 0;

        &:nth-child(1) {
          width: 330px;
          margin-right: 53px;
        }
        &:nth-child(2) {
          width: 470px;
          margin-right: 87px;
          line-height: 24px;
          letter-spacing: -0.4px;
          padding-top: 3px;
        }
        &:nth-child(3) {
          width: auto;
          padding-top: 7px;
          text-align: right;
        }
      }

    }
    &__footer-logo {
      @include absoluteCenter();
      width: 193px;
      height: auto;
      margin-top: -30px;
      margin-left: 24px;
    }
    &__footer-bottom {
      display: flex;
      justify-content: space-between;
      margin: 0 -37px 0 -14px;
    }
  }
}
@media (min-width: $desktop-wide) {

}

