
.terms {
  background: #e5e6e9;
  padding-top: 100px;
  padding-bottom: 40px;
  color: $main-text-color;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 30px;
    font-size: 38px;
    color: #4e5876;
    @include  main-font4();
  }
  ol,
  ul {
    margin-bottom: 40px;
    list-style: none;
    padding: 0 !important;

    li {
      position: relative;
      display: block;
      margin-bottom: 10px;
      padding-left: 20px;
      font-size: 16px;
      line-height: 20px;

      &:before {
        content: '-';
        position: absolute;
        left: 0;
      }
    }
  }
  p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
  }
  mark {
    color: $main-blue-color;
  }
}

@media (min-width: $tablet-portrait) {


}

@media (min-width: $desktop) {

  .terms {
    padding-top: 231px;
    padding-bottom: 100px;

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-size: 45px;
    }
    ol,
    ul {

      li {
        font-size: 18px;
        line-height: 22px;
      }
    }
    p {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 25px;
    }
    mark {
      color: $main-blue-color;
    }
  }
}
